persist.properties
persist
lizzie.properties
config.txt
out/*
.idea/
*.dll
*.iml
*.exe
network
*.gz
leelaz
src/main/resources/META-INF
target
leelaz_opencl_tuning
*.sh
*.jar
!lizzie-mobile/gradlew
!lizzie-mobile/gradlew.bat
!lizzie-mobile/gradle/wrapper/gradle-wrapper.jar
