# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# KMP
shared/build/
composeApp/build/

# iOS
iosApp/Pods/
iosApp/*.xcworkspace
iosApp/build/

# Generated
*.class
*.jar
*.aar
*.apk